<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" default="franka2"/>

  <node name="roboperation_gripper" pkg="roboperation_gripper" type="roboperation_gripper_node" output="screen">
    <param name="robot_ip" value="$(arg robot_ip)"/>
    <rosparam command="load" file="$(find roboperation_gripper)/config/roboperation_gripper_node.yaml" />
  </node>
</launch>
